<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Empleo</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">INICIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/empleo">EMPLEOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MI PERFIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PROCESOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Salir</a>
                    </li>
                </ul>
            </div>
            <% if (username && username.length > 0){ let userName = JSON.parse(username) %>  
                <span><%= userName[0].nombre %></span>
            <% } %>
        </div>
    </nav>

    <% if(data && data.length){      
        // Crear un objeto Date a partir de la fecha original
        const fecha = new Date(data[0].fecha_vencimiento);
        
        // Extraer día, mes y año
        const dia = fecha.getDate().toString().padStart(2, '0');
        const mes = (fecha.getMonth() + 1).toString().padStart(2, '0');
        const anio = fecha.getFullYear();
        // Reorganiza los componentes para formar el formato DD-MM-YYYY
        const fechaVencimientoConvertida = anio + "-" + mes + "-" + dia;
        console.log(fechaVencimientoConvertida);
          %> 
    <form class="container-fluid mt-5 ml-5 mr-5" action="/editarEmpleo" method="post">
        <input type="hidden" id="datos" name="datos" value="<%= data[0].id %>">
        <div class="mb-3 mt-5">
            <label for="puesto" class="form-label mt-5">Titulo Perfil:</label>
            <input type="text" class="form-control" id="puesto" name="puesto"
                placeholder="Ingrese el nombre del puesto" required value="<%= data[0].nombre %>">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción:</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion"
                placeholder="Describa el puesto" required value="<%= data[0].descripcion %>">
        </div>
        <div class="mb-3">
            <label for="sueldo" class="form-label">Sueldo:</label>
            <input type="text" class="form-control" id="sueldo" name="sueldo" 
                placeholder="Ingrese el sueldo asignado" required value="<%= data[0].sueldo %>">
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de vencimiento:</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required value="<%= fechaVencimientoConvertida %>">
        </div>
        <button class="btn btn-outline-danger" type="submit">Eliminar Empleo</button>
    </form>
    <% } %>

</body>

</html>